@import 'reset.css';

body {
  background: #112233;
  color: #fff;
}

a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #fff;
}
a:active {
  color: #fff;
}
